async-generator
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
h11
idna
itsdangerous
Jinja2
MarkupSafe
numpy
oauthlib
outcome
pandas
Pillow
pycparser
pyOpenSSL
PyPDF2
PySocks
python-dateutil
pytz
requests
tweepy
urllib3
Werkzeug
wsproto
gunicorn
